<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" href="http://ceramicastefani.com.br/imgs/logo-icon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width">
    <title>Email Template</title>
</head>

<body style="font-family: Arial, Helvetica, sans-serif; background: #f3f3f3;">
    <table style="width: 100%; background: #0068A5; padding: 10px; border-bottom: 5px solid #8bd6f7;">
        <tbody>
            <tr>
                <td>
                    <table style="width: 580px; color: white;" align="center">
                        <tbody>
                            <tr>
                                <td>
                                    <img style="max-width: 250px;"
                                        src="https://d15k2d11r6t6rl.cloudfront.net/public/users/Integrators/54dbf34d-6b74-47c7-a96e-c8e17d0be75b/c-1Dt-bf/Logo-Horizontal-b-200.png"
                                        alt="Cerâmica Stéfani S.A.">
                                </td>
                                <td style="text-align: center;">
                                    Informações da Impressora
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <table style="width: 100%; padding: 10px;">
        <tbody>
            <tr>
                <td>
                    <table style="width: 580px; color: #555555; background: #ffffff; padding: 10px;" align="center">
                        <tbody>
                            <tr>
                                <td>
                                    {% block content %}{% endblock %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td>
                    <table style="width: 580px; color: #555555;" align="center">
                        <tbody>
                            <tr>
                                <td>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <h3>Nossas Redes Sociais</h3>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a style="text-decoration: none;" href="#">Facebook</a></td>
                                            </tr>
                                            <tr>
                                                <td><a style="text-decoration: none;" href="#">Instagram</a></td>
                                            </tr>
                                            <tr>
                                                <td><a style="text-decoration: none;" href="#">Loja</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <h3>Contato</h3>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a style="text-decoration: none;" href="#">+55 (16) 3209-4788</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a style="text-decoration: none;"
                                                        href="#">cpd@ceramicastefani.com.br</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>